.c{
    height: 100vh;
    position: relative;
}

.c-bg{
    width: 30px;
    height: 100%;
    background-color: green;
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex: 1;
}


.c-title{
    font-size: 60px;
    width: 80%;    
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon{
    width: 30px;
    margin-right: 20px;
}

.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-desc{
    font-weight: 200;
}

form{
    margin-top: 20px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea{
    width: 100%;    
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
}

button{
    border: none;
    padding: 15px;
    background-color: rgb(36, 170, 36);
    color: white;
    font-weight: 500;
    cursor: pointer;
}


/* @-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
} */

button:hover
{
    
    background-color: green;
}

.msg{
    display: flex;
    align-items: center;
    justify-content:stretch;
    font-size: 30px;
    flex: 2;
}

.msg-button{
    flex: 1;
}

.msg-text{
    flex: 2;
}

@media screen and ( max-width: 480px ) {
    .c-wrapper{
        flex-direction: column;
    }
}